name: Kernel Builder Action

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt install -y \
            build-essential bc zip curl git \
            libncurses5-dev flex bison \
            python-is-python3 ca-certificates unzip ccache

      - name: Checkout repo
        uses: actions/checkout@v3.5.3

      - name: Make kernel
        run: |
          echo "Building kernel"
          ./build_kernel.sh
        
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: test
          path: arch/arm64/boot/Image
